@media (max-width:1353px) {
   .about__content{
    padding: 0 25px;
    margin: 0;
    width: 100%;
   }    
  
}


@media (max-width: 992px) {

    .menu {
        display: block;
        position: relative;
        z-index: 999;
        margin-right: 50px;
    }

    .menu.active {
        background: none;
    }

    .menu.active.menu::before {
        transform: rotate(46deg);
        bottom: -4px;
    }

    .menu.active.menu::after {
        transform: rotate(136deg);
        top: 4px;
    }

    .nav__list.active {
        transform: translateX(0);
    }

    .nav__list {
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        right: 60%;
        background: rgba(0, 0, 0, 0.8);
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 30px;
        transform: translateX(-110%);
        transition: 0.5s;
        backdrop-filter: blur(2px);
        box-shadow: rgb(0 0 0 / 40%) 1px 1px 20px 15px;
    }

    .header__info {
        padding-left: 20%;
    }
    .about__cards{
        justify-content: space-evenly;
       }
       .about__card:nth-of-type(2),
       .about__card:nth-of-type(7) {
        display: none;
       }
}

@media (max-width:820px) {
    .about__card-text {
        font-size: 15px;
    }
}

@media (max-width: 780px) {
    .header__title {
        font-size: 30px;
    }

    .header__text {
        font-size: 25px;
    }
}

@media (max-width:700px) {
    .about__cards {
        justify-content: space-between;
    }
    .about__card {
        width: 47%;
    }
    .about__title ,
    .about__info-title {
        font-size: 27px;
    }
    .about__text ,
    .about__info-text {
        font-size: 15px;
    }
    .about__card-title {
        font-size: 13px;
    }
    .about__card-text {
        font-size: 12px;
    }
}

@media (max-width:642px) {
    .header__info {
        top: 38%;
    }
    .header {
        height: 320px;
    } 
}

@media (max-width: 565px) {
    .header__title {
        font-size: 25px;
    }
    .header__text {
        font-size: 20px;
    }
    .header__info {
        top: 60%;
    }
    
}

@media (max-width:501px) {
   
}

@media (max-width:473px) {
    .header__title {
        font-size: 20px;
    }
    .header__text {
        font-size: 18px;
    }
}


@media(max-width:440px) {
    .nav__link {
        font-size: 15px;
        padding: 5px;
    }
    .about__card-title {
        font-size: 11px;
    }
    
    .about__card-text {
        font-size: 9px;
    }
    .about__title, 
    .about__info-title {
        font-size: 25px;
    }
    .about__info-title:after {
        width: 80%;
    }
    .about__text, 
    .about__info-text {
        font-size: 13px;
    }
}

@media (max-width: 387px) {
    .logo {
        font-size: 25px;
    }
   
    .header__text{
        font-size: 13px;
    }
    .header__title {
        font-size: 15px;
    }
}


@media(max-width:350px) {
    .nav__link {
        font-size: 14px;
        padding: 0;
    }
    .about__card-text {
        font-size: 8px;
    }
}